.all-container{
    width: 100%;
    max-width: 1500px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas:
    "header header header header header"
    "aside nav nav nav nav"
    "aside article article article article"
    ;
    margin: 0 auto;
}
/*Header*/
.header-container{
   height: 56px;
   grid-area: header;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 16px;
}
.header--youtube{
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.burger-icon{
    margin: 0 1rem;
}
.header--search{
    width: 50%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.search--boder{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgba(128, 128, 128, 0.61);
}
.header--search input{
     height: 3.75rem;
     border: none;
     padding-left: 1rem;
     font-size: 1.6rem;
}
.search--icon{
    margin: 6px auto;
}
.search-button--container{
    height: 100%;
    width: 60px;
    border-left: 1px solid rgba(128, 128, 128, 0.267);
}
.search-button--container:hover{
    background: #f2f2f2;
}
.search-button-container-diferent{
    width: 40px;
    background: none;
    display: none;
    border: none;
}
.header-user-acount{
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.header-user-acount img{
    width: 3.5rem;
    border-radius: 50%;
}
.voice--icon{
    margin: 0 1rem;
}
.user-serch{
    display: none;
}
/*--------------------------------*/
.nav-container{
    height: 56px;
    grid-area: nav;
    overflow-x: scroll;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-top: #88888857 solid 1px;
    border-bottom: #88888857 solid 1px;
}
.carousel__elemento{
    margin: 0 1rem;
    padding: 1rem;
    cursor: pointer;
    border: 1px solid #888888;
    border-radius: 9999px;
    font-size: 1.3rem;
}
.carousel__elemento:hover{
    background: black;
    color: #f2f2f2;
} 
/* Aside */
.aside-container{
    /*width: 240px;*/
    height: 91.8vh;
    overflow-y: scroll;
    grid-area: aside;
}
.info-container{
    margin-bottom: 3rem;
    border-bottom: 1px solid   #b9b9b9cb;
}
.info-container h2{
    font-size: 1.7rem;
    margin: 2rem 4.5rem;
}
.info--items{
    margin: 0.2rem 4.5rem;
    padding: 0.5rem 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.info--items:hover{
    background:   #e5e5e5;
}
.info-icons{
    margin-right: 5.5rem;
}
.info--items p{
    font-size: 1.4rem;
}
.info--items img{
    margin-right: 5.5rem;
    width: 2.4rem;
    border-radius: 99999px;
}
.subcripciones--item{
    margin: none;
}
/*---------------------------------------------------*/
.article-container{
    height: 83.5vh;
    grid-area: article;
    overflow-y: scroll;
    background-color: #ececec57;
}
.video--container{
    cursor: pointer;
    margin: .6rem;
}
.videos--grid{
    width: 100%;
    margin: 0 auto;
    padding: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(90px, 266px));
    justify-content: start;
}
.video--container img{
    width: 100%;
}
.video-information{
    margin-top: 1.2rem;
    display: flex;
}
.video-information img{
    width: 3.5rem;
    height: 3.5rem;
    margin-right: 1.2rem;
    border-radius: 50%;
    object-fit: cover;
}
.channel--info h2{
    font-size: 1.4rem;
    line-height: 2rem;
    color: black;
    margin-bottom: .6rem;
}
.channel--info p{
    opacity: .8;
    font-size: 1.2rem;
}
.views-info{
    display: flex;
    margin-top: .6rem;
    align-items: center;
    justify-content: space-between;
}
.views-info p{
    font-size: 1.2rem;
    margin: 0;
}
