@media (max-width: 790px) {
    .camera--icon{
        display: none;
    }
    .apps--icon{
        display: none;
    }
    .header--search{
        width: 35%;
    }
    .header--search input{
        width: 100%;
    }
    .header--youtube{
        width: 20%;
    }
    .header--search input{
        border-right: 1px solid rgba(128, 128, 128, 0.61);
    }
    .voice--button{
        display: none;
    }
    .search-button--container{
        border-left: none;
    }
}
@media (max-width: 582px)  {
    .burger-icon{
        display: none;
    }
    .header--youtube{
        width: 20%;
    }
}
@media (max-width: 398px)  {
    .header--youtube{
        width: 35%;
    }
    .header-user-acount{
        width: 35%;
    }
    .user-serch{
        display: inline-block;
    }
    .search--icon{
        margin: 0;
    }
    .header--search{
        display: none;
    }
  /*  .all-container{
        width: 100%;
        max-width: 1500px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-areas:
        "header header header header header"
        "article article article article article"
        "article article article article article"
        "aside aside aside aside aside"
        ;
        margin: 0 auto;
    }*/
    .video--container {
        margin: 0;
    }    
    .videos--grid {
        grid-template-columns: repeat(auto-fill, minmax(83px, 100vw));
    }
}
@media (max-width: 1249px) {
    .all-container{
        grid-template-rows: auto auto auto auto;
        grid-template-columns: repeat(5, 1fr);
        grid-template-areas:
        "header header header header header"
        "nav nav nav nav nav"
        "article article article article article"
        "aside aside aside aside aside"
        ;
    }
    .aside-container{
        height: 3.5rem;
    }
    .info-container {
        margin: 0;
    }
    .aside-container {
        /* width: 240px; */
        overflow-y: hidden;
    }
    .info--items{
        display: inline-block;
        margin: 0;
        padding: 0;
    }
    .info-container{
        display: flex;
        justify-content: center;
        justify-content: space-around;
        padding: 1.2rem;
    }
    .info-icons{
        margin: 0;
    }
    .article-container{
        height: 74vh;
    }
    .info-container p{
        display: none;
    }
    .info-container-2{
        display: none;
    }
    .info-container-3{
        display: none;
    }
    .info-container-4{
        display: none;
    }
    .info-container-5{
        display: none;
    }
    .terms-and-conditions{
        display: none;
    }
}
